@using LMS.Core.Models

<div class="accordion" id="accordionExample">
    @if (Activities is not null && Activities.Any())
    {
        @foreach (var ma in Activities)
        {
            <div class="accordion-item">
                <h2>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#@ma.Name" aria-expanded="true" aria-controls="collapseOne">
                        <span><strong>Activity</strong> @ma.Name</span>
                    </button>
                </h2>
                <div id="@ma.Name" class="accordion-collapse collapse">
                    <div class="accordion-body d-flex flex-column">
                        <div class="accordion-item d-flex flex-row justify-content-between p-2">
                            <div>Period</div>
                            <div>
                                @ma.StartDate
                                -
                                @ma.EndDate
                            </div>
                        </div>
                        <div class="accordion-item d-flex flex-row justify-content-between p-2">
                            @ma.Description?.Substring(0, 100);
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-primary" role="alert">No courses available</div>
    }
</div>

@code {

    [Parameter]
    public IEnumerable<ModuleActivityBaseModel>? Activities { get; set; }
}