@inject HttpClient ApiClient
@inject UserManager<User> UserManager
@inject NavigationManager NavigationManager

<Accordion class="d-flex flex-column my-2">
    @if (!_apiAvailable)
    {
        <div class="alert alert-danger" role="alert">API not available</div>
    }
    else
    {
        if (_dataLoaded)
        {
            if (_courses is not null)
            {
                foreach (var course in _courses)
                {
                    <AccordionItem Title="@course.Name">
                        <Content>
                            <span>
                                <strong>Duration:</strong> @course.StartDate - @course.EndDate
                            </span>
                            <div class="d-flex flex-column my-2">
                                <span>
                                    @(course.Description?.Length > 100 ? $"{course.Description.Substring(0, 100)}..." :
                                        course.Description ?? "No description available")
                                </span>
                            </div>

                            <button class="btn btn-primary my-2" @onclick="@((_) => 
                                NavigationManager.NavigateTo($"/course/{course.CourseId}/{course.Name}/modules"))">Modules</button>
                        </Content>
                    </AccordionItem>
                }
            }
            else
            {
                <div class="alert alert-primary" role="alert">No courses available</div>
             }
        }
        else
        {
            <div class="alert alert-primary" role="alert">Loading...</div>
        }
    }
</Accordion>

@code {
    private IEnumerable<CourseBaseModel> _courses = new List<CourseBaseModel>();
    private bool _apiAvailable = true;
    private bool _dataLoaded = false;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState.User;

            // not sure this is needed:
            var targetUser = await UserManager.GetUserAsync(user);

            try
            {
                var response = await ApiClient.GetFromJsonAsync<IEnumerable<CourseBaseModel>>($"courses/get-all-courses");
                if (response != null)
                {
                    _courses = response;
                }

                _dataLoaded = true;
            }
            catch
            {
                _apiAvailable = false;
            }
        }
    }
}
